<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>FutbolReviews4U</title>
	</head>
	<body>
		<nav>
			<a id="backhome" href="/">Back to Home</a>
		</nav>
		<center><h1>Create a New Review</h1></center>
		<div class="container-new">
			<form action="/" method="POST">
				<fieldset>
					<legend>PLAYER INFO</legend>
						<label for="img">IMAGE</label>
						<input type="text" name="img" id="img" placeholder="URL">

						<label for="name">NAME</label>
						<input type="text" name="name" id="name" placeholder="Name">

						<label for="country">COUNTRY</label>
						<input type="text" name="country" id="country" placeholder="Country">

						<label for="team">TEAM</label>
						<input type="text" name="team" id="team" placeholder="Team">

						<label for="position">POSITION</label>
						<select name="position" id="position">
							<option value="GK">Goalkeeper</option>
							<option value="DEF">Defense</option>
							<option value="MID">Midfielder</option>
							<option value="FWD">Forward</option>
						</select>

						<label for="retired">RETIRED</label>
						<select name="retired" id="retired">
							<option value="Yes">Yes</option>
							<option value="No">No</option>
						</select>

						<label for="rating">RATING</label>
						<select name="rating" id="rating">
							<option value="⭐️">⭐️</option>
							<option value="⭐️⭐️">⭐️⭐️</option>
							<option value="⭐️⭐️⭐️">⭐️⭐️⭐️</option>
							<option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
							<option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
						</select>

						<label for="review">REVIEW</label>
						<input type="text" name="review" id="review" placeholder="Tell us about this player!">

						<label for="author">AUTHOR</label>
						<input type="text" name="author" id="author" placeholder="Team">
				</fieldset>
				<input id="addreview" type="submit" name="" value="Add Review"/>
			</form>
		</div>
		<footer>
			<p class="footer"><strong>⚽️ FutbolReviews4U ⚽️</strong></p>
		</footer>
	</body>
</html>


