@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');


* {
    cursor: url("https://i.imgur.com/lBJM4e1.png"), auto;
    background-color: #8ee4af;;
    
}


/* INDEX */
#soccerballgif {
    width: 100px;
    height: auto;
    box-sizing: border-box;
}

header {
    text-align: center;
}

h1 {
    font-family: "JetBrains Mono", sans-serif;
}

nav {
    text-align: center;
}

nav li {
    display: inline;
    padding: 5px;
}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    background-color: #edf5e1;
    color: #05386b;
}

#createReview {
    font-family: "Sora", sans-serif;
    text-decoration: none;
    color: #05386b;
}

#createReview:hover {
    background-color: #edf5e1 ;
}

.page-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#playerImage {
    opacity:0.5;
    transition: 1s ease; 
}

#playerImage:hover {
    opacity:1;
    transition: 1s ease;
}

#edit {
    font-family: "Hahmlet", sans-serif;
    text-decoration: none;
    color: whitesmoke;
}

#edit:hover {
    background-color: #05386b;
}

.page-container input {
    transition-duration: 0.4s;
}

.page-container input:hover {
    background-color:red;
    color: black;
}

/* BACK HOME LINK */
#backhome {
    font-family: "Sora", sans-serif;
    text-decoration: none;
    color: #05386b;
}

#backhome:hover {
    background-color: #edf5e1 ;
}

/* SHOW */
#show-main {
    text-align: center;
    padding-top: 20px;
}

/* CREATE */
/* check other css file */

/* EDIT */
  #editbutton {
    font-family: "Hahmlet", sans-serif;
    text-decoration: none;
    color: black;
}

#editbutton:hover {
    background-color: #05386b;
}