.container-new {
    width: 50vw;
    height: 60vw;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
    justify-content: center;
  }

  fieldset {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
  }

  legend {
    padding: 0px 10px;
    font-family: sans-serif;
    font-weight: 500;
    color: #05386b;
  }
  label {
    font-family: sans-serif;
    font-weight: 200;
    color: grey;
    display: block;
    padding-top: 10px;
  }
  
  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
  }

  #addreview:hover {
    background-color: #05386b;
    color:grey;
}
